header{
    background-color: #33335f;

     
}
.logocima{
    height: 12vh;
 padding-left: 2vh;
 padding-top: 2vh ;
 padding-bottom: 2vh;
}

.corcerta{
    color: #33335f;
}
.footer{
    text-align: center;
}